@tailwind base;
@import "@fortawesome/fontawesome-svg-core/styles.css";
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
} */

dtog,
h1,
p {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
  transition-duration: 300ms;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
